<div class="container">
  <div class="section no-pad-bot">
    <h1 class="header center light-green-text">User Page</h1>
  </div>
  <ul id="quizzes">
  {{#each quizzes}}
    <li>
      <h3>{{name}}</h3>
      {{type}}
      <div><i>Say: "Alexa, ask educate me to quiz me on {{name}}"</i></div>
      <p>{{desc}}</p>
      <br/>
      <ul>
      {{#each Questions}}
        <li>{{q}} ({{a}})</li>
        {{#if choiceA}}<li>A: {{choiceA}}</li>{{/if}}
        {{#if choiceB}}<li>B: {{choiceB}}</li>{{/if}}
        {{#if choiceC}}<li>C: {{choiceC}}</li>{{/if}}
        {{#if choiceD}}<li>D: {{choiceD}}</li>{{/if}}
        <br/>
      {{/each}}
      </ul>
    </li>
  {{/each}}
  </ul>
</div>