<div class="section blue">
  <h3 class="header center white-text">{{username}}'s Quizzes</h3>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <br/>
  {{#each quizzes}}
    <div class="row">
      <div class="col s12">
        <div class="card blue darken-4">
          <div class="card-content white-text">
            <span class="card-title">{{name}}</span>
            <div class="right pad-right">
              <br/>Taken: {{totalAttempts}} Times
            </div>
            <p class="flavor-text grey-text text-lighten-1">Say: "Alexa, ask cheevo to quiz me on {{name}}"</p>
            <div class="chip">{{desc}}</div>
            <div class="right pad-right">
              <a class="waves-effect waves-light blue accent-3 btn btn-showq" data-id={{@index}}>SHOW QUESTIONS</a>
              <a class="waves-effect waves-light blue accent-3 btn btn-showq" href="user_edit.{{id}}">EDIT</a>
            </div>
            <br/>
            <div id="questions_{{@index}}" data-vis="false" style="display: none;">
            {{#each Questions}}
              <div class="row no-margin">
                <br/>
                <div class="col s12">
                  <div class="card blue darken-4">
                    <div class="card-content white-text">
                      <p>{{#if choiceA}}Question{{else}}True or false{{/if}}: {{q}}</p>
                      {{#if choiceA}}
                      <ul class="no-margin">
                        <li>A: {{choiceA}}</li>
                        <li>B: {{choiceB}}</li>
                        <li>C: {{choiceC}}</li>
                        <li>D: {{choiceD}}</li>
                      </ul>
                      {{/if}}
                      <p>Answer: {{a}}</p>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>

<script src="assets/js/show_questions.js"></script>
