<div class="section blue">
  <h3 class="header center white-text">{{username}}'s Results</h3>
</div>
<div class="row no-margin">
  <div class="col s10 offset-s1">
  <br/>
  {{#each quizzes}}
    <div class="row">
      <div class="col s12">
        <div class="card blue darken-4">
          <div class="card-content white-text">
            <span class="card-title">{{name}}</span>
            <div class="right pad-right">
              <p>Attempts: {{UserQuiz.timesAttempted}}</p>
              <p>Accuracy: {{UserQuiz.accuracy}}</p>
            </div>
            <p class="flavor-text grey-text text-lighten-1">Say: "Alexa, ask cheevo to quiz me on {{name}}"</p>
            <div class="chip">{{desc}}</div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
